*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.center{
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    margin: 20px 0px;
}
.box{
    max-width: 720px;
    margin: 10px auto;
}
.square{
    width: 80px;
    height: 80px;
    margin: 5px;
}
.bg-n{
    background-color: #F7F1E5;
}
.bg-fizz{
    background-color: #E7B10A;
}
.bg-buzz{
    background-color: #898121;
}
.bg-fizz-buzz{
    background-color: #4C4B16;
}

